<%= form_with(model: ticket_status, class: "contents") do |form| %>
  <% if ticket_status.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2>
        <%= pluralize(ticket_status.errors.count, "erro impediu", "erros impediram") %> o status de ser salvo:
      </h2>

      <ul class="list-disc ml-6">
        <% ticket_status.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, "Nome do status" %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-violet-600": ticket_status.errors[:name].none?, "border-red-400 focus:outline-red-600": ticket_status.errors[:name].any?}] %>
  </div>

  <div class="my-5 flex items-center gap-2">
    <%= form.check_box :is_final, class: ["block shadow-sm rounded-md border order-first h-5 w-5", {"border-gray-400 focus:outline-violet-600": ticket_status.errors[:is_final].none?, "border-red-400 focus:outline-red-600": ticket_status.errors[:is_final].any?}] %>
    <%= form.label :is_final, "Status de conclusão" %>
  </div>

  <p class="text-xs text-gray-500 -mt-2 mb-4">
    Ao marcar, o chamado será considerado concluído e receberá a data de finalização automaticamente.
  </p>

  <div class="inline">
    <%= form.submit "Salvar", class: "btn-brand w-full sm:w-auto px-3.5 py-2.5 text-sm inline-block cursor-pointer" %>
  </div>
<% end %>
