<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-blue-900 text-white p-4 shadow-md mb-8">
      <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-2xl font-bold tracking-tight">Condomínio Dunnas</h1>
        <div class="space-x-6 font-semibold">
          <%= link_to "Blocos", blocks_path, class: "hover:text-blue-300 transition-colors" %>
          <%= link_to "Chamados", tickets_path, class: "hover:text-blue-300 transition-colors" %>
          
          <% if user_signed_in? %>
            <span class="text-gray-400 text-sm ml-4 border-l border-gray-600 pl-4">
              Olá, <%= current_user.name %>
            </span>
            <% end %>
        </div>
      </div>
    </nav>

    <main class="container mx-auto px-4">
      <%= yield %>
    </main>
  </body>
</html>
